  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">
            <a class="navbar-brand" href="#">Eco Initiative</a>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the.</p>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Quick Links</h4>

            <ul class="list-unstyled">
              <li><a href="#">Initiatives</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">stories</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Our Socials</h4>

            <ul class="list-unstyled d-flex">
              <li class="mx-2"><a href="#"><i class="bi bi-facebook h2"></i></a></li>
              <li class="mx-2"><a href="#"><i class="bi bi-twitter h2"></i></a></li>
              <li class="mx-2"><a href="#"><i class="bi bi-instagram h2"></i></a></li>
              <li class="mx-2"><a href="#"><i class="bi bi-linkedin h2"></i></a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights EcoInitiative Hub. All rights reserved.</p>
      </div>
    </div>
  </footer><!-- End  Footer -->