{% extends 'base.html' %}

{% load i18n %}
{% block body %}
{% if messages %}
<div>
    <strong>{% trans "Messages:" %}</strong>
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<section class="py-5 my-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-10">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
</section>
{% endblock body %}